@font-face {
  font-family: q_pixia;
  src: url("./assets/fonts/q_pixia.ttf");
}

:root {
  --palette-1: #dddddd;
  --palette-2: #222831;
  --palette-3: #30475e;
  --palette-4: #f05454;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  width: 100vw;
  background-color: var(--palette-1);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: q_pixia, "Press Start 2P", cursive;
  font-weight: 700;
  text-align: center;
  display: block;
  color: var(--palette-2);
}

h1 {
  font-size: 40px;
  margin-bottom: 48px !important;
}

h2 {
  font-size: 32px;
}

.container {
  overflow: hidden;
  width: 100vw;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container > * {
  margin-bottom: 12px;
}

.container > .img {
  width: 480px;
  height: 480px;
  background-image: url("./assets/images/ezgif.com-crop.gif");
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.btn {
  font-family: q_pixia, "VT323", monospace;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 80%;
  height: auto;
  padding: 4px 0px;
  border: none;
  margin: 10px;
  outline: none;
  position: relative;
  color: var(--palette-1);
  background: var(--palette-2);
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.btn:active {
  top: 2px;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background-color: var(--palette-2);
  z-index: -1;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background-color: var(--palette-2);
  z-index: -1;
}

.btn img {
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cta,
.cta::before,
.cta::after {
  columns: white;
  background-color: var(--palette-4);
}
.telegram,
.telegram::before,
.telegram::after {
  columns: white;
  background-color: var(--palette-3);
}

footer {
  margin-top: 24px;
}

footer,
footer a {
  font-family: "Babylonica", cursive;
  text-decoration: none;
  font-size: 24px;
  color: var(--palette-2);
}

footer span {
  color: var(--palette-4);
  font-size: 12px;
}

.col-2 {
  width: calc(80% + 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-20 {
  width: 20px;
}
